<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <ul>
        <%    if(alunos != ""){ %>
        <% alunos.forEach( aluno => { %>
            <li>
                <img src="<%=alunos.photoPath" alt="">
                <p><%= aluno.name %></p>
                <p><%= aluno.ra %></p>
                <p><%= data_nasc %></p>   
            </li>    
        <%})%>
        <% } %>
        </ul>    
    </div>
</body>
</html>